@import "bootstrap/dist/css/bootstrap.min.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  min-height: 80vh;
  margin: auto;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
}
.carousel a {
  margin: 0 auto;
}
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  /* background-color: white; */
  border: 4px solid silver;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
